@font-face {
  font-family: "SF UI Text Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Regular"), url("../fonts/SFUIText-Regular.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Italic"), url("../fonts/SFUIText-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Light"), url("../fonts/SFUIText-Light.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Light Italic"), url("../fonts/SFUIText-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Medium"), url("../fonts/SFUIText-Medium.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Medium Italic"), url("../fonts/SFUIText-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Semibold"), url("../fonts/SFUIText-Semibold.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Semibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Semibold Italic"), url("../fonts/SFUIText-SemiboldItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Bold"), url("../fonts/SFUIText-Bold.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Bold Italic"), url("../fonts/SFUIText-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Heavy"), url("../fonts/SFUIText-Heavy.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Heavy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Heavy Italic"), url("../fonts/SFUIText-HeavyItalic.woff") format("woff");
}
@font-face {
  font-family: "Gotham Rounded Bold";
  font-style: bold;
  src: url(../fonts/GothamRoundedBold.otf);
}
@font-face {
  font-family: "SF UI Text Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Regular"), url("../fonts/SFUIText-Regular.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Italic"), url("../fonts/SFUIText-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Light"), url("../fonts/SFUIText-Light.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Light Italic"), url("../fonts/SFUIText-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Medium"), url("../fonts/SFUIText-Medium.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Medium Italic"), url("../fonts/SFUIText-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Semibold"), url("../fonts/SFUIText-Semibold.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Semibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Semibold Italic"), url("../fonts/SFUIText-SemiboldItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Bold"), url("../fonts/SFUIText-Bold.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Bold Italic"), url("../fonts/SFUIText-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Heavy"), url("../fonts/SFUIText-Heavy.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Heavy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Heavy Italic"), url("../fonts/SFUIText-HeavyItalic.woff") format("woff");
}
@font-face {
  font-family: "Gotham Rounded Bold";
  font-style: bold;
  src: url(../fonts/GothamRoundedBold.otf);
}
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  background: #ffacb2;
  display: grid;
  grid-gap: 2rem;
  transition: all 0.5s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p, img {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "SF UI Text Heavy";
}

h2 {
  font-family: "Gotham Rounded Bold";
  letter-spacing: 1px;
}

img {
  width: 100%;
  max-width: 100%;
}

.btn-top {
  position: fixed;
  width: 15%;
  max-width: 15%;
  bottom: 0.5rem;
  margin-left: 50%;
  left: -7.5%;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  color: #ffffff;
  text-decoration: none;
  pointer-events: none;
  transition: all 1s;
  opacity: 0;
}
.btn-top.active {
  pointer-events: auto;
  bottom: 2%;
  opacity: 1;
}
.btn-top.active img {
  user-select: none;
  border: none;
  outline: none;
}

.header {
  display: grid;
  align-items: start;
  padding-top: 7vh;
  background: #ffacb2;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.header .profile-info {
  display: grid;
  grid-row-gap: 1rem;
  align-content: center;
  justify-items: center;
}
.header .profile-info .avatar {
  width: 100px;
  max-width: 100px;
  margin-bottom: 1rem;
}
.header .profile-info .profession .autor-description {
  font-size: 1rem;
  color: #ffffff;
  margin: -0.8rem 0 0.1rem 0;
}
.header .profile-info .social-media {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.5rem;
  margin: -0.3rem 0;
}
.header .profile-info .social-media a {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #ffffff;
  transition: all 0.4s ease;
}
.header .profile-info .social-media a .fab {
  margin-top: 0.5rem;
  transition: all 0.4s ease;
}
.header .profile-info .social-media a:hover {
  border-color: transparent;
}
.header .profile-info .social-media a:hover .fab {
  transform: scale(1.7);
}
.header .profile-info .social-media a:hover .fa-twitter {
  color: #55acee;
}
.header .profile-info .social-media a:hover .fa-tumblr {
  color: #34465d;
}
.header .profile-info .social-media a:hover .fa-instagram {
  color: #e4405f;
}
.header .profile-info .social-media a:hover .fa-behance {
  color: #131418;
}
.header .profile-info .social-media a:hover .fa-deviantart {
  color: #00e59b;
}
.header .profile-info .social-media a:hover .fa-facebook-f {
  color: #3b5999;
}

.section {
  display: grid;
  justify-content: center;
  grid-row-gap: 1.3rem;
  margin-bottom: 5vh;
}
.section .thumbnail {
  display: none;
}
.section .post {
  width: 90vw;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.section .post .draw {
  width: 100%;
  height: 100%;
}
.section .post .draw img {
  border-radius: 12px;
}
.section .post .description h3 {
  font-size: 0.9rem;
  text-align: center;
  color: #232b30;
  font-family: "SF UI Text Regular";
  display: none;
}

/*********** MEDIAQUERIES DEL HEADER ***********/
@media screen and (min-width: 768px) {
  .header .profile-info .avatar {
    min-width: 150px;
    max-width: 150px;
  }
  .header .profile-info .profession .autor-description {
    font-size: 2rem;
  }
  .header .profile-info .social-media a {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
  }
  .header .profile-info .social-media a .fab {
    margin-top: 0.7rem;
  }
}
@media screen and (min-width: 800px) {
  .header .profile-info {
    grid-template-rows: repeat(10, 40px);
  }
  .header .profile-info .avatar {
    width: 40%;
    grid-row-start: 4;
  }
  .header .profile-info .name {
    grid-row: 2/3;
  }
  .header .profile-info .name img {
    width: 30vw;
  }
  .header .profile-info .profession {
    grid-row: 3/4;
  }
  .header .profile-info .profession .autor-description {
    font-size: 2rem;
  }
  .header .profile-info .social-media {
    grid-row: 1/2;
  }

  .section {
    margin-top: 10vh;
  }
}
@media screen and (min-width: 992px) {
  .header .profile-info {
    grid-row-gap: 1.5rem;
  }
  .header .profile-info .avatar {
    grid-row: 5;
  }
  .header .profile-info .name {
    grid-row: 2/3;
    align-self: start;
    margin: 0;
  }
  .header .profile-info .profession {
    grid-row: 3/4;
    align-self: end;
  }
  .header .profile-info .social-media {
    grid-row: 1/2;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .header .profile-info .profession .autor-description {
    font-size: 2.5rem;
  }
}
/*********** MEDIAQUERIES DEL MAIN ***********/
@media screen and (min-width: 768px) {
  .section {
    justify-content: unset;
    position: relative;
  }
  .section::before {
    content: "";
    position: absolute;
    border-top: 2px solid rgba(252, 0, 114, 0.5);
    width: 80%;
    left: -40%;
    margin-left: 50%;
  }
  .section .thumbnail {
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 150px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
  }
  .section .thumbnail a {
    color: rgba(255, 255, 255, 0.65);
    font-size: 2rem;
    opacity: 0.5;
  }
  .section .thumbnail a i {
    cursor: pointer;
  }
  .section .thumbnail a:hover {
    opacity: 0.5;
  }
  .section .thumbnail a.active {
    color: rgba(252, 0, 114, 0.8);
    opacity: 1;
  }
  .section .thumbnail a.active i {
    cursor: default;
  }
  .section .container-posts {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 30%));
    justify-content: space-around;
    position: relative;
    margin-bottom: 4rem;
    padding-top: 1.5rem;
    transition: all 1s ease-in-out;
  }
  .section .container-posts .post {
    width: 100%;
    height: 300px;
    max-height: 300px;
    cursor: pointer;
    transition: all 0.4s ease;
    align-self: start;
    margin-bottom: 0;
  }
  .section .container-posts .post:hover {
    transform: scale(1.1);
  }
  .section .container-posts .post img {
    height: 100%;
    border-radius: 0;
    user-select: none;
  }
  .section .container-posts-one {
    grid-template-columns: repeat(auto-fit, minmax(300px, 55%));
    transition: all 1s ease-in-out;
  }
  .section .container-posts-one .post {
    height: 500px;
    max-height: 800px;
    filter: grayscale(0);
  }
}

/*# sourceMappingURL=style.css.map */
