@font-face {
  font-family: "SF UI Text Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Regular"), url("../fonts/SFUIText-Regular.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Italic"), url("../fonts/SFUIText-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Light"), url("../fonts/SFUIText-Light.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Light Italic"), url("../fonts/SFUIText-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Medium"), url("../fonts/SFUIText-Medium.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Medium Italic"), url("../fonts/SFUIText-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Semibold"), url("../fonts/SFUIText-Semibold.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Semibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Semibold Italic"), url("../fonts/SFUIText-SemiboldItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Bold"), url("../fonts/SFUIText-Bold.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Bold Italic"), url("../fonts/SFUIText-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Heavy"), url("../fonts/SFUIText-Heavy.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Heavy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Heavy Italic"), url("../fonts/SFUIText-HeavyItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Regular"), url("../fonts/SFUIText-Regular.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Italic"), url("../fonts/SFUIText-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Light"), url("../fonts/SFUIText-Light.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Light Italic"), url("../fonts/SFUIText-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Medium"), url("../fonts/SFUIText-Medium.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Medium Italic"), url("../fonts/SFUIText-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Semibold"), url("../fonts/SFUIText-Semibold.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Semibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Semibold Italic"), url("../fonts/SFUIText-SemiboldItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Bold"), url("../fonts/SFUIText-Bold.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Bold Italic"), url("../fonts/SFUIText-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Heavy"), url("../fonts/SFUIText-Heavy.woff") format("woff");
}
@font-face {
  font-family: "SF UI Text Heavy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Heavy Italic"), url("../fonts/SFUIText-HeavyItalic.woff") format("woff");
}
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  background: #ffacb2;
  display: grid;
  grid-gap: 2rem;
  transition: all 0.5s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p, img {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "SF UI Text Heavy";
}

h2 {
  font-family: "SF UI Text Bold";
}

img {
  width: 100%;
  max-width: 100%;
}

.btn-top {
  background: #fc0072;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  border: 1px solid #b4bdc3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #b4bdc3;
  text-decoration: none;
  pointer-events: none;
  transition: all 0.4s;
  opacity: 0;
}
.btn-top.active {
  pointer-events: auto;
  bottom: 2rem;
  opacity: 1;
}

.header {
  display: grid;
  align-items: center;
  background: #ffacb2;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.header .profile-info {
  display: grid;
  align-items: center;
  justify-items: center;
}
.header .profile-info .avatar {
  width: 30%;
  margin: 1rem 0 0.5rem 0;
}
.header .profile-info .profession .autor-description {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
.header .profile-info .social-media {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.5rem;
  margin: 0.3rem 0;
}
.header .profile-info .social-media a {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #fc0072;
  transition: all 0.4s ease;
}
.header .profile-info .social-media a .fab {
  margin-top: 0.57rem;
  transition: all 0.4s ease;
}
.header .profile-info .social-media a:hover {
  border-color: transparent;
}
.header .profile-info .social-media a:hover .fab {
  transform: scale(1.2);
}
.header .profile-info .social-media a:hover .fa-twitter {
  color: #55acee;
}
.header .profile-info .social-media a:hover .fa-tumblr {
  color: #34465d;
}
.header .profile-info .social-media a:hover .fa-instagram {
  color: #e4405f;
}
.header .profile-info .social-media a:hover .fa-behance {
  color: #131418;
}
.header .profile-info .social-media a:hover .fa-deviantart {
  color: #00e59b;
}
.header .profile-info .social-media a:hover .fa-facebook-f {
  color: #3b5999;
}

.section {
  display: grid;
  justify-content: center;
  grid-row-gap: 2rem;
  margin-bottom: 2rem;
}
.section .post {
  width: 90vw;
  background: #ffffff;
  border-radius: 2rem;
}
.section .post img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.section .post .description {
  padding: 0.5rem;
}
.section .post .description h3 {
  font-size: 0.9rem;
  text-align: center;
  color: #232b30;
  font-family: "SF UI Text Regular";
  margin-bottom: 0.3rem;
}

/*# sourceMappingURL=style.css.map */
